* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body{
  
  background-color: black;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px;             /* width of vertical scrollbar */
  height: 8px;            /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #000;       /* black track */
}

::-webkit-scrollbar-thumb {
  background-color: #222; /* dark gray/black thumb */
  border-radius: 4px;     /* rounded corners */
  border: 2px solid #000; /* padding around thumb */
}

/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}




nav .logo {
  height: 150px;
  transform: translate(0, -20%);
}

nav {
  display: flex;
  justify-content: space-between;
  
}

nav .btns {
  padding-top: 2rem;
  padding-right: 2rem;
}

nav .btns button {
  margin-right: 2rem;
  height: 2.5rem;
  min-width: 9rem;
  text-align: center;
  display: inline-block;
  border: 1px solid white;
  background-color: black;
  border-radius: 30px;
  font-size: 1.45rem;
  font-weight: 500;
  padding: 0 1.2rem;
  cursor: pointer;
  position: relative;
  overflow-y: hidden;
}

.btns button div {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  transition: all 0.25s ;
  border-radius: 30px;
}

.btns button:hover div{
  top: 0;
}


.btns button span {
  z-index: 10;
  position: relative;
  background-color: transparent;
  transition: all 1ms;
}


.btns button:hover span{
  background-color: transparent;
  font-weight: 500;
  color: Black;
}

/* Hero Section  */

.hero-section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.hero-container{
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 0 14rem;
  backdrop-filter: blur(2px);
  background-color: #ffffff05;
  -webkit-backdrop-filter: blur(2px);
  border-radius: 30px;
}

.hero-container h1 {
  font-size: 5vw;
  text-shadow: 1px 1px 3px white;
}

.hero-container p {
  padding: 2rem 0 1rem 18rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: 1.3px;
  word-spacing: 2px;
  text-align: justify;
  text-shadow: 1px 1px 1px white;

}

.space-ship {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 100%;
  display: flex;
  background-color: black;
}

.space-ship .left {
  width: 50%;
  height: 100vh;
  padding: 4rem 2rem;
  background-color: #ffffff04;
}

.space-ship .right {
  width: 50%;
  height: 100vh;
}

.space-ship .left h1{
  font-size: 4vw;
}

.space-ship .left p {
  padding: 2rem 7rem;
  text-align: justify;
}